body {
  background-color: tomato;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 20px;
  align-items: center;
}
div {
  margin: 10px;
}
#box {
  border: 3px solid black;
  background-color: wheat;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.ibox {
  background-color: teal;
}
.square {
  width: 80px;
  height: 80px;
  border: 3px solid white;
}
.rectangle {
  height: 80px;
  width: 250px;
  border: 3px dashed white;
}
